.navb {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:22px;
    text-decoration: none;
    font-size:15px;
   
    
}
nav {
    background-color: rgb(31, 37, 40);
    margin:0px;
    padding-top:0px;
    padding-right:12px;
    padding-bottom:10px;
    box-shadow: 5px 5px 5px white;
   
  
    color:aliceblue;
    border-color:rgb(8, 2, 7);
    

}

nav h2{
    display:flex;
    justify-content:center;
    justify-self: baseline;
    margin:0px;
    padding-left:10px;
    padding-top:40px;
    margin-bottom:8px;
    padding-bottom: 0px;
    font-size:30px;
    font-weight:500px;
}


#a{
    color:white;
    text-decoration:none;
    font-family:"Montserrat";
    margin-left: 8px;
}    
#a:hover{
   color:yellow ;
   transform:scale(1.2);
   text-shadow: 5px 5px 5px rgb(88, 88, 76);
   text-decoration: underline;
  

}
#b{
    color:white;
    text-decoration: none;
    font-family:"Montserrat";
}
#b:hover{
    color:yellow;
    transform:scale(1.2);
    text-shadow: 5px 5px 5px rgb(88, 88, 76);
    text-decoration: underline;
}
#c{
    color:white;
    text-decoration: none;
    font-family:"Montserrat";
}
#c:hover{
    color:yellow;
   transform:scale(1.2);
   text-shadow: 5px 5px 5px rgb(88, 88, 76)low;
   text-decoration: underline;
}
#d{
    color:white;
    text-decoration: none;
    font-family:"Montserrat";
}
#d:hover{
    color:yellow;
   transform:scale(1.2);
   text-shadow: 5px 5px 5px rgb(88, 88, 76);
   text-decoration: underline;
}
#e{
    color:white; 
    text-decoration: none;
    font-family:"Montserrat";
}
#e:hover{
    color:yellow;
   transform:scale(1.2);
   text-shadow: 5px 5px 5px rgb(88, 88, 76);
   text-decoration: underline;
}

#name{
    font-family:"Montserrat";
    text-shadow: 5px 5px 5px orangered;
    
}

