.App {
  text-align: center;
   margin-top:0px;
  
    background:linear-gradient(45deg,rgb(3, 3, 117),rgb(47, 122, 202),rgb(29, 7, 100));
    background-size: 400% 400%;
    padding:2%;
    animation: gradient 5s ease infinite;
    
}
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
 







